---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        <ol reversed class="publication-list">
        {% assign title_shown = true %}
      {% endunless %}
      <li>
        <strong>{{ post.title }}</strong><br>
        <span>
          {% if post.date %}{{ post.date | date: "%Y" }}. {% endif %}
          {% if post.venue %}<em>{{ post.venue }}</em>. {% endif %}
          {% if post.authors %}<br>{{ post.authors }} {% endif %}
        </span><br>        
        <span>
          {% if post.url %}<a href="{{ post.url }}" target="_blank" title="More Info"><span class="icon">ℹ️</span></a>{% endif %}
          {% if post.directurl %}<a href="{{ post.directurl }}" target="_blank" title="Published Link"><span class="icon">🔗</span></a>{% endif %}
          {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank" title="Download PDF"><span class="icon">📄</span></a>{% endif %}
        </span>
        {% if post.excerpt %}<br>{{ post.excerpt }}{% endif %}        
      </li>
    {% endfor %}
    {% if title_shown %}
      </ol>
    {% endif %}
  {% endfor %}
{% else %}
  <ul class="publication-list">
    {% for post in site.publications reversed %}
      <li>
        <strong>{{ post.title }}</strong><br>
        {% if post.authors %}{{ post.authors }}. {% endif %}
        {% if post.journal %}<em>{{ post.journal }}</em>, {% endif %}
        {% if post.year %}{{ post.year }}. {% endif %}
        {% if post.doi %}
          <a href="https://doi.org/{{ post.doi }}" target="_blank">[DOI]</a>
        {% endif %}
        {% if post.url %}
          <a href="{{ post.url }}" target="_blank">[PDF]</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}



